.dahsboard {
  width: 100%;
  height: 100%;
}
.sidebar {
  width: 20%;
  height: 100%;
  padding: 30px 10px;
  position: fixed;
  color: white;
  overflow: scroll;
  background: linear-gradient(90deg, #4985ed, #538cef);
  box-shadow: 5px 9px 30px 0 rgb(0 0 0 / 20%);
  /* background: linear-gradient(90deg, #4E44B5, #3a3192); */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  z-index: 1000;
  transition: 0.5s;
  transform: none;
}
.sidebar2 {
  width: 20%;
  height: 100%;
  padding: 30px 10px;
  box-shadow: 5px 9px 30px 0 rgba(0, 0, 0, 0.34);
  position: fixed;
  color: white;
  overflow: scroll;
  background: linear-gradient(90deg, #4985ed, #538cef);
  /* background: linear-gradient(90deg, #4E44B5, #3a3192); */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  z-index: 10001;
  transition: 0.5s;
  transform: translateX(-100%);
}
.main {
  width: 80%;
  height: auto;
  transition: 0.5s;
  margin-left: 20%;
  margin-top: 80px;
  color: black;
  background-color: #e6ebee;
  padding: 10px 35px;
  position: relative;
  /* overflow-x: scroll; */
}

.sidebar::-webkit-scrollbar,
.profileModal::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.sidebarcontent::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.sidebar h2,
.sidebar2 h2 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 19px;
}
.sidebar h4,
.sidebar2 h4 {
  text-align: center;
  font-weight: 200;
  margin-top: 20px;
}
.sidebar ul,
.sidebar2 ul {
  width: 70%;
  margin: 100px auto;
}
.sidebar ul li,
.sidebar2 ul li {
  list-style-type: none;
  margin: 40px 0;
  font-size: smaller;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  padding-bottom: 14px;
}

.sidebar ul li > div,
.sidebar2 ul li > div {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}
.sidebar ul li > div > div:nth-child(1) {
  width: 90%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}
.sidebar ul li > div > div:nth-child(1) i {
  margin-right: 20px;
  width: 15px;
  height: 15px;
}

.main > div {
  width: 100%;
}
.titlebar {
  width: 80%;
  height: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: black;
  align-items: center;
  position: relative;
  position: fixed;
  margin-left: 20%;
  z-index: 998;
  margin-bottom: 50px;
  padding-left: 30px;
  background-color: #e6ebee;
}
.titlebar h2 {
  color: #303973;
}
.one {
  position: relative;
}
.logo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.close {
  position: absolute;
  left: 10px;
  top: 1px;
  font-size: 20px;
}
.logo img {
  border-radius: 50%;
}
.titlebar > div:nth-child(2) {
  width: fit-content;
  padding: 5px 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}
.titlebar > div:nth-child(2) > div {
  display: flex;
  margin: 0 5px;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 18px;
  align-content: center;
  background-color: white;
  border-radius: 6px;
  color: #a099af;
  width: 45px;
  height: 45px;
  position: relative;
}
.sect {
  position: absolute;
  left: -15px;
  z-index: 20;
  top: -15px;
  display: none;
}
.bar {
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}
.bar > div {
  width: fit-content;
  height: 80px;
  margin: 0px 17px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.bar > div:first-child {
  margin-left: 0px;
}
.bar > div > div:nth-child(1) {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  margin-right: 10px;
}
.first > div:nth-child(1) {
  background: linear-gradient(90deg, #4985ed, #538cef);
}
.second > div:nth-child(1) {
  background: linear-gradient(90deg, #fb7e5b, #f48d71);
}
.third > div:nth-child(1) {
  background: linear-gradient(90deg, #fcc43e, #dcaf45);
}
.fourth > div:nth-child(1) {
  background: linear-gradient(90deg, #303973, #20285c);
}
.bar > div > div:nth-child(2) {
  color: #a099af;
  font-size: smaller;
}
.bar > div > div:nth-child(2) strong {
  color: #303973;
  display: block;
  margin-top: 4px;
  font-size: 1.5rem;
}

.calendar {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.calendar > div {
  height: auto;
  background-color: white;
  border-radius: 10px;
  flex: 40%;
  margin: 0 20px;
}
.calendar > div:nth-child(1) {
  /* width:46%; */
  margin-left: 0;
  padding-bottom: 30px;
}
.calendar > div:nth-child(2) {
  /* width:50%; */
  margin-right: 0;
  padding-bottom: 18px;
}
.calendar > div h3 {
  margin: 25px 20px;
  font-size: 17px;
  color: #303973;
}

.notice {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 90px;
}
.notice > div {
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  /* flex: 35%; */
  /* margin: 0 40px; */
}
.notice > div:nth-child(1) {
  margin-left: 0;
  width: 40%;
}
.notice > div:nth-child(2) {
  margin-right: 0;
  width: 57%;
  visibility: hidden;
}
.noticeHeader {
  width: 100%;
  background: linear-gradient(90deg, #303973, #20285c);
  color: white;
  padding: 15px 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.noticeHeader h3 {
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}
.currentNotice {
  /* border: 1px solid #20285c; */
  padding: 15px 15px;
  display: flex;
  flex-flow: column wrap;
  /* align-items: center; */
  justify-content: center;
  font-size: small;
}
.currentNotice > div {
  background-color: #33a0fc;
  padding: 9px 15px;
  color: #fff;
  position: relative;
  margin: 10px 0;
  font-weight: 200;
  border-radius: 5px;
  line-height: 1.8;
}
.currentNotice > div > i {
  position: absolute;
  left: -6px;
  top: -2px;
  color: #33a0fc;
  font-size: 25px;
}

/* PROFILE  */
.profileModal {
  position: absolute;
  width: 270px;
  height: 380px;
  background-color: white;
  right: 0px;
  color: #303973;
  transition: 0.6s;
  bottom: -390px;
  z-index: 999;
  box-shadow: 5px 9px 30px 0 rgb(0 0 0 / 20%);
  border-radius: 25px;
  overflow: scroll;
  padding: 0;
  margin: 0;
  padding: 30px 25px;
}
.profileModal img {
  object-fit: cover;
  border-radius: 50%;
}
.userheader {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-bottom: 1px solid #cccc;
  padding-bottom: 20px;
}
.userheader > div:nth-child(1) {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}
.userheader > div:nth-child(2) {
  margin-left: 15px;
  height: 100%;
}
.details {
  height: 50px;
  display: flex;
  flex-flow: column;
  font-weight: 200;
  font-size: 14px;
  justify-content: space-between;
}
.profileModal ul {
  margin: 0 20px;
  padding: 0;
}
.profileModal ul li {
  list-style-type: none;
  cursor: pointer;
  margin: 20px 0;
}
.profileModal ul li i {
  margin-right: 15px;
  color: #33a0fc;
}
.profileModal > div:nth-child(2) {
  border-bottom: 1px solid #cccc;
}

/* -----------------EDIT PROFILE SECTION  ----------------------------*/
.editProfile {
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
.firstDiv {
  width: 21%;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  padding: 10px 0px;
  color: #303973;
}
.firstDiv ul {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.firstDiv ul li {
  list-style: none;
  width: 100%;
  height: 50px;
  border-top: 0.09px solid #30397329;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  font-size: 12px;
}
.firstDiv ul li span:nth-child(2) {
  color: #a099af;
}
.firstDiv span,
.firstDiv strong {
  display: block;
  margin: 8px 0;
  text-align: center;
  color: #303973;
}
.firstDiv > div {
  margin: 20px auto;
  font-size: small;
}
.editProfile > div:nth-child(2) {
  width: 75%;
  height: auto;
  background-color: white;
  border-radius: 10px;
}
.editProfile > div:nth-child(2) form {
  padding: 30px 0;
}
.editProfile > div:nth-child(2) form > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 10px 0;
  padding: 10px 30px;
}
.setupHeader {
  height: auto;
  border-bottom: 0.09px solid #30397329;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  padding: 20px 30px;
}
.setupHeader button {
  background-color: #20285c;
  color: white;
  padding: 12px 15px;
  border-radius: 9px;
  border: none;
}
.setupHeader h3 {
  color: #20285c;
  font-weight: 500;
}
.formGroup {
  width: 48%;
  height: 70px;
}
.formGroup label {
  color: #a099af;
  display: block;
  margin-bottom: 10px;
}
.formGroup input {
  width: 100%;
  background: none;
  border: 1px solid #dddddd;
  color: #20285c;
  padding: 15px 20px;
  border-radius: 9px;
}

/* ------------ STUDENTS PAGE ------------ */
.search {
  height: 70px;
  background-color: white;
  border-radius: 7px;
  margin: 15px 0 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.search > div {
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
}
.search > div input {
  width: 210px;
  height: 100%;
  border-radius: 7px;
  border: 1px solid #eeeeee;
  padding: 0 15px;
  outline: none;
}
.search > div button {
  width: 120px;
  height: 100%;
  outline: none;
  border: none;
  background: linear-gradient(90deg, #4985ed, #538cef);
  color: white;
  border-radius: 7px;
}

/* porterscard */
.porterCard {
  width: 100%;
  height: auto;
  padding: 0px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.porterCard > div {
  width: 220px;
  height: auto;
  border-radius: 7px;
  background-color: white;
  margin: 15px 0;
}

/* -----------------------Lodge Complaints Section -------------------------------------*/
.lodge {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.lodge button {
  margin: auto auto;
  background: linear-gradient(90deg, #4985ed, #538cef);
  color: white;
  padding: 12px 15px;
  border-radius: 7px;
  width: 100%;
}
.lodge b {
  color: #20285c;
}
.lodge > div:nth-child(1) {
  width: 25%;
  height: fit-content;
  background-color: white;
  padding: 0px 20px;
  display: flex;
  flex-flow: column wrap;
  border-radius: 10px;
  transition: 0.4s;
  font-size: 13px;
}
.lodge > div:nth-child(1) ul {
  color: #20285c;
  margin-top: 20px;
}
.lodge > div:nth-child(1) ul li {
  margin: 20px 0;
  color: #666666;
  border-bottom: 1px solid #66666612;
  padding-bottom: 10px;
  cursor: pointer;
}
.lodge > div:nth-child(1) ul li i {
  margin-right: 18px;
  color: #a099af;
  width: 10px;
  height: 10px;
}
.lodge > div:nth-child(1) > div {
  margin: 20px 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column wrap;
}
.lodge > div:nth-child(2) {
  width: 73.5%;
  border-radius: 10px;
  height: fit-content;
  background-color: white;
}
.lodge > div:nth-child(2) form {
  width: 100%;
  height: auto;
  padding: 20px 15px;
}
.lodge > div:nth-child(2) form input {
  width: 100%;
  height: 50px;
  border: 1px solid #dddddd;
  margin: 10px 0;
  outline: #33a0fc;
  padding: 10px 20px;
  border-radius: 10px;
}
.lodge > div:nth-child(2) form textarea {
  width: 100%;
  height: auto;
  border: 1px solid #dddddd;
  margin: 10px 0;
  outline: #33a0fc;
  padding: 10px 20px;
  border-radius: 10px;
}
.lodge > div:nth-child(2) form i {
  margin-right: 15px;
}
.attach {
  width: 100%;
  height: 200px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #f5f5f5;
  color: #a099af;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lodge > div:nth-child(2) form button {
  width: fit-content;
}
@media screen and (max-width: 1022px) {
  .firstDiv {
    width: 24%;
  }
}
@media screen and (max-width: 1202px) {
  .bar {
    padding: 20px 15px !important;
  }
}

@media screen and (max-width: 1126px) {
  .sidebar {
    width: 16%;
    padding: 30px 5px;
    font-size: 0.8rem;
  }
  .main {
    width: 83%;
    margin-left: 16%;
    padding: 10px 20px;
  }
  .titlebar {
    width: 83%;
    margin-left: 16%;
  }
  .calendar > div {
    margin: 0 10px;
  }
}
@media screen and (max-width: 886px) {
  .firstDiv ul li span {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 999px) {
  .tit {
    display: none;
  }
  .tits {
    display: none;
  }
  .sidebar {
    width: 10%;
  }
  .sidebar h2 {
    display: none;
  }
  .logo {
    display: block;
  }
  .sidebar ul li > div {
    justify-content: center;
  }
  .sidebar ul li > div i {
    transform: translateX(20px);
  }
  .sidebar h4 {
    margin-top: 60px;
    font-size: 10px;
  }
  .main,
  .titlebar {
    width: 90%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 974px) {
  .calendar {
    flex-flow: column wrap;
  }
  .calendar > div {
    margin-left: 0;
    margin-right: 0;
    margin: 30px 0;
  }
  .notice {
    margin-top: 10px;
  }
  .notice > div:nth-child(1) {
    margin-left: 0;
    width: 70%;
  }
}
@media screen and (max-width: 974px) {
  .notice > div:nth-child(1) {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 25%;
    transform: translateX(-100%);
    z-index: 10000;
    padding: 30px 5px;
    font-size: 0.8rem;
    box-shadow: 5px 9px 10px 0 rgb(0 0 0 / 20%);
  }
  .sect {
    display: block;
    font-size: 20px;
    top: -5px;
    left: 10px;
  }
  .titlebar h2 {
    visibility: hidden;
  }
  .main {
    width: 100%;
    margin-left: 0%;
    padding: 10px 12px;
  }
  .titlebar {
    width: 100%;
    margin-left: 0%;
  }
}
.compHeader {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-flow: row wrap;
  border-bottom: 1px solid #e7e5ea;
}
.image {
  width: fit-content;
  padding: 0 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.name {
  color: #303973;
  margin-left: 20px;
  font-size: small;
}
.name span {
  display: block;
  margin: 10px 0;
}
.compTitle {
  padding: 20px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.compTitle > div {
  margin: 10px 0;
}
.comp {
  padding: 0px 10px;
  font-size: small;
  color: #a099af;
  line-height: 2.1;
  font-weight: 400;
  border-bottom: 1px solid #e7e5ea;
  padding-bottom: 20px;
}
.compTitle h3 {
  color: #303973;
  font-weight: 500;
  margin: 0 !important;
}
@media screen and (max-width: 700px) {
  .editProfile {
    flex-flow: column wrap;
  }
  .editProfile > div:nth-child(2),
  .firstDiv {
    margin: 20px 0;
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .lodge {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
  .lodge > div:nth-child(1) ul {
    margin-bottom: 0;
  }
  .lodge > div:nth-child(1),
  .lodge > div:nth-child(2) {
    width: 100%;
    margin: 20px 0;
  }
  .editProfile > div:nth-child(2) form > div {
    flex-flow: column wrap;
    margin: 0px 0;
  }
  .editProfile > div:nth-child(2) form > div .formGroup {
    margin: 25px 0;
    width: 100%;
  }
  .collapse {
    /* transition: 0.4s;
    max-height: 0px;
    padding:0; */
    /* overflow: hidden; */
    margin: 20px 0;
  }
  .titlebar > div:nth-child(2) > div {
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
  .titlebar h2 {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .bar {
    justify-content: space-between;
  }
  .bar > div:nth-child(odd) {
    margin-left: 0 !important;
  }
  .bar > div:nth-child(even) {
    margin-right: 0 !important;
  }
  .bar > div:last-child {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .main {
    margin-top: 100px;
  }
  .titlebar {
    flex-flow: column wrap;
    align-items: center;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 20px;
  }
  .titlebar h2 {
    visibility: visible;
    text-align: center;
    margin-bottom: 10px;
  }
  .sect {
    left: 20px;
  }
  .titlebar > div {
    width: 100%;
  }
}
